{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<main class="mt-32 w-full flex justify-center items-center">
<div class = "login border border-slate-700 rounded-lg">

    <div class="flex items-center justify-center rounded-tl-lg rounded-tr-lg  text-slate-800 font-bold text-xl py-4 bg-gray-100">
		<h5>Login</h5>
	</div>

    <form method="POST" action="" class="p-8 bg-white">
        {% csrf_token %}
        <section class="flex flex-col w-full justify-center">
            <div class="flex flex-col">
                <label>Username: </label>
                <input class="mt-1 border p-1 border-slate-700 rounded-md" type="text" name="username" placeholder="Username" class="form-control">
            </div>
                    
            <div class="flex flex-col">
                <label>Password:</label>
                <input class="mt-1 border p-1 border-slate-700 rounded-md" type="password" name="password" placeholder="Password" class="form-control">
            </div>          
                <input class="cursor-pointer mt-2 py-1 px-2 md:px-3 rounded-md bg-slate-700  hover:bg-slate-800 text-white text-[13px] md:text-md transition duration-200" type="submit" value="Login"></td>
        </section>
		<div class="mt-10 w-full flex justify-center gap-x-1"> <p> Belum mempunyai akun? </p> <a class=" underline text-blue-700" href="{% url 'wishlist:register' %}">Buat Akun</a> </div>
    </form>

    {% if messages %}
	<div class="px-8 py-2 bg-white rounded-br-lg rounded-bl-lg">
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
	</div>
    {% endif %}     
        

</div>
</main>

{% endblock content %}