{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class = "login flex flex-col w-full items-center py-20 gap-y-3">
    
    <h1 class="text-3xl font-bold text-slate-800">Formulir Registrasi</h1>  

        <form method="POST" class="p-4 border border-slate-800 rounded-md flex flex-col items-center">  
            {% csrf_token %}  
            <table>  
                {{ form }}  
            </table> 
			<input class="cursor-pointer mt-6 bg-slate-700 rounded-md p-2 hover:bg-slate-800 text-white" type="submit" name="submit" value="Daftar"/>			
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}