{% extends 'base.html' %}

{% block content %}
 <script src="https://cdn.tailwindcss.com"></script>
<nav class="w-screen h-[60px] md:h-[100px] bg-gray-100 shadow-md px-6 md:px-10 flex flex-row justify-between items-center">
		<h1 class="font-bold text-xl md:text-2xl tracking-wider">{{username}}</h1>
		{% if username %}
		<a class="cursor-pointer border border-slate-700 py-1 px-2 md:px-3 rounded-md hover:bg-slate-700 hover:text-white text-[13px] md:text-md transition duration-200" href="{% url 'wishlist:logout' %}">logout</a>
		{% endif %}
</nav>
<main class="w-screen flex flex-col items-center my-14">


	<table class="w-[90vw] md:w-[80vw] text-center">
		<tr class=" ">
			<th class="p-4 rounded-tl-lg bg-orange-500">Nama Barang</th>
			<th class="p-4 bg-orange-500">Harga Barang</th>
			<th class="p-4 rounded-tr-lg bg-orange-500">Deskripsi</th>
		</tr>
		{% comment %} Tambahkan data di bawah baris ini {% endcomment %}
		{% for barang in list_barang %}
		<tr class="text-[13px] md:text-base">
			<td class="py-3 px-4">{{barang.nama_barang}}</td>
			<td class="py-3 px-4">{{barang.harga_barang}}</td>
			<td class="py-3 px-4">{{barang.deskripsi}}</td>
		</tr>
		{% endfor %}
	</table>
	
	<h5 class="mt-12 text-slate-700 font-bold">Sesi terakhir login: {{ last_login }}</h5>
</main>

{% endblock content %}